Data Science - Data Cleaning Exercise
======================

First of all I would delete the entries, who are twice in this dataset. For Example in Line 15  and 16 "Eden Wace".  
Line 9 and 10 are double in this dataframe, so I would erase the second ones.  

For example with this: df.sort_values('age').drop_duplicates(subset=['full_name'], keep='last'), so both lines would be dropped.  

The age in Line 18 is "-78" so I would erase all symbols in the column "age".  
Example: [x.strip('-') for age in df.membership_list]  

The age in Line 10 is "old". This isn't an integer so I would replace this value with 59, so everybody is happy.  
series.str.replace('old', '60')  

In Line 22 the id is missing, so I would write it in:   
membership_list.id[22] = 22  

And the lines 18 and 23 could be deleted, because there isn't a real value.   
df.drop([18, 23])  
 


This is the dataframe:   
id,full_name,first_name,last_name,email,gender,age  
----------------------
1,Mariel Finnigan,Mariel,Finnigan,mfinnigan0@usda.gov,Female,60  
2,Kenyon Possek,Kenyon,Possek,kpossek1@ucoz.com,Male,12  
3,Lalo Manifould,Lalo,Manifould,lmanifould2@pbs.org,Male,26  
4,Nickola Carous,Nickola,Carous,ncarous3@phoca.cz,Male,4  
5,Norman Dubbin,Norman,Dubbin,ndubbin4@wikipedia.org,Male,17  
6,Hasty Perdue,Hasty,Perdue,hperdue5@qq.com,,77  
7,Franz Castello,Franz,Castello,fcastello6@1688.com,Male,25  
8,Jorge Tarney,Jorge,Tarney,jtarney7@ft.com,Male,77  
9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45  
10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old  
11,Palm Domotor,Palm,Domotor,pdomotora@github.io,Male,6  
9,Eunice Blakebrough,Eunice,Blakebrough,eblakebrough8@sohu.com,Female,45  
10,Kristopher Frankcombe,Kristopher,Frankcombe,kfrankcombe9@slate.com,Male,old  
12,Luz Lansdowne,Luz,Lansdowne,llansdowneb@theguardian.com,Female,16  
13,Modestia Keble,Modestia,Keble,mkeblec@cmu.edu,Female,91  
14,Stacee Bovis,Stacee,Bovis,sbovisd@webeden.co.uk,Female,22  
15,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16  
16,Eden Wace,Eden,Wace,ewacee@marriott.com,Female,16  
17,Tobias Sherburn,Tobias,Sherburn,tsherburnf@facebook.com,Male,2  
,,,,,    
19,Clair Skillern,Clair,Skillern,cskillerng@nih.gov,Male,-78     
20,Mathew Addicott,Mathew,Addicott,maddicotth@acquirethisname.com,Male,65     
21,Kerianne Goacher,Kerianne,Goacher,,Female,45   
,Maurits Shawl,Maurits,Shawl,mshawlj@dmoz.org,Male,72   
,,,,,